
@{
    ViewData["Title"] = "AccountMenu";
}

<div class="row">
    <div class="column image-hover">
        <img src="~/images/account_menu/group_menu.jpg" alt="">
        <a id="image-btn-one" class="btn image-btn btn-light btn-lg text-black" asp-area="Identity" asp-page="/Account/Register" role="button">new member?</a>
    </div>
    <div class="column image-hover">
        <img src="~/images/account_menu/woman_menu.jpg" alt="">
        <a id="image-btn-two" class="btn image-btn btn-light btn-lg text-black" asp-area="Identity" asp-page="/Account/Login" role="button">already have an account?</a>
    </div>
</div>


